* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
  color: #000;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 !important;
}

h1 {
  font-weight: 700;
  margin-bottom: 4%;
  font-stretch: expanded;
  font-size: 2.5em;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  gap: 10%;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.column-50 {
  width: 50%;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .column-50 {
    width: 100%;
  }
}

.column-33 {
  flex: 33%;
  padding: 5%;
}

button {
  border-radius: 3px;
}

.nopadding {
  padding: 0;
  align-items: flex-start;
}

.text-center {
  text-align: center;
}

.disabled {
  display: none;
}

.color-options {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 4%;
}

.color-swatch {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 100%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.blue-swatch-border {
  border: 4px solid #91c5eb;
}

.pink-swatch-border {
  border: 4px solid #db91aa;
}

.yellow-swatch-border {
  border: 4px solid #fcf087;
}

@media screen and (min-width: 600px) {
  .color-swatch {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 800px) {
  .color-swatch {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1080px) {
  .color-swatch {
    width: 32px;
    height: 32px;
  }
}

#logo {
  max-width: 11%;
  max-height: 12%;
  top: 80%;
  left: 45.5%;
  position: absolute;
  transform: translateY(-50%);
}

@media screen and (max-width: 480px) {
  #logo {
    top: 75%;
  }
}

#upload {
  background-color: #0390f4;
  color: white;
  margin-top: 4%;
  width: 100%;
  cursor: pointer;
  border: none;
  max-width: 360px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.icon {
  background: url("../assets/upload_icon.svg");
  height: 22px;
  width: 24px;
  display: inline-flex;
  filter: brightness(0) invert(1);
}

.large-text {
  font-size: large;
  font-weight: 700;
}

.medium-text {
  font-size: medium;
  font-weight: 500;
}

.small-text {
  font-weight: 400;
  font-size: small;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.loader {
  left: 45%;
  position: absolute;
  transform: translateY(-50%);
  top: 45%;
  animation: spin 2s linear infinite;
}

.blue-spinner {
  filter: invert(44%) sepia(15%) saturate(6484%) hue-rotate(181deg)
    brightness(94%) contrast(105%);
}

.pink-spinner {
  filter: invert(24%) sepia(85%) saturate(2635%) hue-rotate(324deg)
    brightness(90%) contrast(104%);
}

.yellow-spinner {
  filter: invert(91%) sepia(86%) saturate(6830%) hue-rotate(326deg)
    brightness(102%) contrast(99%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
